.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 16px;
  font-style: normal;
}
/* header-nav */
h3{
    color: #0D1321;
    font-size: 28px;
    font-weight: 800;
}
#btn-nav{
    font-weight: 600;
    color: #0D1321;
    font-size: 20;
    background-color: transparent;
    padding: 17px 44px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    cursor: pointer;
    gap: 10px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 38px 110px;
    font-family: "Azeret Mono", monospace;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}
/* header-banner */
.banner-inside{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
    padding: 36px 221px 35px;
}
#banner-background-img{
    background-image: url('../assets/Hero-bg.png');
}
#banner-pic{
    width: 240.28px;
    height: 240px;
}
#banner-heading{
    font-size: 48;
    font-weight: 800;
    line-height: 68px;
}
#banner-description{
    font-size: 16;
    font-weight: 400;
    opacity: 0.7;
    line-height: 26px;
}
#btn-banner{
    font-weight: 600;
    color: #FFFFFF;
    font-size: 20;
    background-color: rgba(13, 19, 33, 1);
    gap: 10px;
    padding: 21px 24px;
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 1);
    cursor: pointer;
}
/* main section*/
.main{
    display: block;
    width: 1140;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* main1 */
.main1{
    display: flex;
    flex-direction: column;
    width: 1140;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 80px 97px;
    margin: 55px auto 109px;
}
#main1-title{
    font-size: 32;
    font-weight: 800;
}
#main1-description{
    font-size: 16;
    font-weight: 700;
    opacity: 0.7;
    line-height: 26px;
}
.main1-sub1{
    display: flex;
    text-align: left;
    padding: 48px;
    gap: auto;
    width: 946px;
    height: 336px;
}
.main1-sub2{
    display: flex;
    text-align: left;
    padding: 48px;
    gap: auto;
    width: 946px;
    height: 336px;
}
.main1-sub3{
    display: flex;
    text-align: left;
    padding: 48px;
    gap: auto;
    width: 946px;
    height: 336px;
}
.main1-sub-data{
    display: block;
    gap: 32px;
    width: 477px;
    height: 219px;
}
.main1-subheading{
    font-size: 24;
    font-weight: 700;
    line-height: 36px;
    color: rgba(13, 19, 33, 0.7);
    column-gap: 16px;
}
.main1-subdescription{
    font-size: 16;
    font-weight: 400;
    opacity: 0.7;
    line-height: 26px;
    column-gap: 32px;
    padding: 0px 0px 20px 0px;
}
.main1-btn{
    text-decoration: none;
    font-weight: 600;
    color: rgba(13, 19, 33, 1);
    font-size: 20;
    background-color: none;
    padding: 12px 20px;
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    cursor: pointer;
    gap: auto;
}
.main1-subpic{
    display: block;
    width: 274.17px;
    height: 240px;
}
/* main2 */
.main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 48px;
    margin: 109px 150px 0px;
}
#main2-heading{
    font-size: 32;
    font-weight: 800;
}
#main2-description{
    font-size: 16;
    font-weight: 400;
    opacity: 0.7;
    gap: 26px;
}
#main2-video{
    border-radius: 16px;
    width: 1076px;
    height: 550px;
    gap: 26px;
    padding: 32px;
}
/* main3*/
.main3{
    display: block;
    width: 1140;
    /* height: 313; */
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 80px 97px; 
    margin: 151px auto 49px;
}

.main3-section1-sub{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 111px;
    gap: 24px;
}
.main3-section1-sub1{
    padding: 40px;
    width: 364px;
    height: 299px;
    background-color: rgba(255, 76, 30, 0.05);
    gap: 32px;
    text-align: left;
    border-radius: 16px;
}
.main3-section1-sub2{
    padding: 40px;
    width: 364px;
    height: 299px;
    background-color: rgba(0, 76, 232, 0.05);
    gap: 32px;
    text-align: left;
    border-radius: 16px;
}
.main3-section1-sub3{
    padding: 40px;
    width: 364px;
    height: 299px;
    gap: 32px;
    background-color: rgba(255, 223, 0, 0.05);
    text-align: left;
    border-radius: 16px;
}
.link-color{
    color: #0D1321;
    text-decoration: underline;
}
/* main2-section2 */
.main3-section2-sub{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    /* margin-bottom: 111px; */
    gap: 24px;

}
.main3-section2-sub1{
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: center;
    padding: 40px;
    width: 1140px;
    height: 139px;
    gap: 32px;
    text-align: left;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.15);

}
.main3-section2-sub2{
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: center;
    padding: 40px;
    width: 1140px;
    height: 139px;
    gap: 32px;
    text-align: left;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.15);

}
.main3-section2-sub3{
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: center;
    padding: 40px;
    width: 1140px;
    height: 139px;
    gap: 32px;
    text-align: left;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.15);
}
/* footer */
#footer-background-img{
    background-image: url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    margin: 49px 150px 80px 150px;
}
.footer-form{
    padding: 64px 48px;
    column-gap: 24px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#form-title{
    font-size: 32;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 36px;
}
#form-description{
    font-size: 16;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.7;
    line-height: 26px;
}
#feedback{
    font-weight: 400;
    color: rgba(13, 19, 33, 0.4);
    font-size: 16;
    background-color: #FFFFFF;
    padding: 19px 20px;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    gap: 10px;
    column-gap: 16px;
    width: 548px;
}
#btn-form{
    padding: 17px 20px;
    border-radius: 8px;
    cursor: pointer;
    color: #0D1321;
    font-size: 20;
    font-weight: 600;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    width: 120px;
    height: 57px;
    gap: 10px;
    column-gap: 16px;

}
/* footer-link */
.footer-last{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 150px;
}
h4{
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
}
#footer-link{
    cursor: pointer;
}
