.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 16px;
  font-style: normal;
}
/* header-nav */
h3{
    color: #0D1321;
    font-size: 28px;
    font-weight: 800;
}
#btn-nav{
    font-weight: 600;
    color: #0D1321;
    font-size: 20;
    background-color: transparent;
    padding: 17px 44px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    cursor: pointer;
    gap: 10px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 38px 110px;
    font-family: "Azeret Mono", monospace;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}
/* header-banner */
.banner-inside{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
    padding: 36px 221px 35px;
    /* max-width: 998px; */
    /* max-height: 521px; */
}
#banner-background-img{
    background-image: url('../assets/Hero-bg.png');
}
#banner-pic{
    max-width: 240.28px;
    max-height: 240px;
}
#banner-heading{
    font-size: 48;
    font-weight: 800;
}
#banner-description{
    font-size: 16;
    font-weight: 400;
    opacity: 0.7;
}
#btn-banner{
    font-weight: 600;
    color: #FFFFFF;
    font-size: 20;
    background-color: rgba(13, 19, 33, 1);
    gap: 10px;
    padding: 21px 24px;
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 1);
    cursor: pointer;
}
/* main section*/
/* main2 */
.main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 48px;
    margin: 109px 150px 151px;
}
#main2-heading{
    font-size: 32;
    font-weight: 800;
}
#main2-description{
    font-size: 16;
    font-weight: 400;
    opacity: 0.7;
    gap: 26px;
}
#main2-video{
    border-radius: 16px;
    width: 1076px;
    height: 550px;
    gap: 26px;
    padding: 32px;
}
/* footer */
#footer-background-img{
    background-image: url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    margin: 49px 150px 80px 150px;
}
.footer-form{
    padding: 64px 48px;
    gap: 24px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#form-title{
    font-size: 32;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 36px;
}
#form-description{
    font-size: 16;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.7;
    line-height: 26px;
}
#feedback{
    font-weight: 400;
    color: rgba(13, 19, 33, 0.4);
    font-size: 16;
    background-color: #FFFFFF;
    padding: 19px 20px;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    gap: 16px;
    width: 548px;
}
#btn-form{
    padding: 17px 20px;
    border-radius: 8px;
    cursor: pointer;
    color: #0D1321;
    font-size: 20;
    font-weight: 600;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    width: 120px;
    height: 57px;
    gap: 16px;
}
/* footer-link */
.footer-last{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 150px;
}
h4{
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
}
#footer-link{
    cursor: pointer;
}
